body {
  background-color: #F2F5F8;
}

.flag {
  width: 15px;
}

.dropdown-menu {
  min-width: 8rem;
}

#account {
  font-size: 12px;
  color: #758BFD;
  margin: 0;
  margin-left: 1rem;
}

.nav-link {
  margin-right: 3rem;
  color: #758BFD;
}

.btn-primary {
  width: 2rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.navbar img {
  margin-right: 10rem;
}

#usa-btn {
  background-color: #758BFD;
}

#first-section {
  width: 90%;
  margin: 0 auto;
}

#carouselExampleIndicators {
  height: 472px;
}

.carousel {
  width: 100%;
  background-color: white;
  padding: 1rem;
}

.carousel-control-next {
  position: static;
}

.carousel-control-prev {
  position: static;
}

.arrows {
  width: 20px;
  display: flex;
  justify-content: space-between;
}

.carousel-indicators {
  position: static;
  margin: 0;
}

.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  background-color: #758BFD;
}

.carousel-text {
  margin-left: 4rem;
  margin-top: 3rem;
  font-size: 24px;
  width: 80%;
}

.green-small {
  font-size: 0.7rem;
  margin-left: 4rem;
  color: #69A3A2;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

h2 {
  margin-top: 3rem;
  font-size: 1rem;
}

button {
  border-radius: 50%;
}

#first-section {
  display: flex;
}

.quick-link-box {
  width: 35%;
  margin: 0 auto;
}

.slider-cont {
  width: 60%;
  margin: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.quick-link {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 3.1rem;
}

.quick-link-card {
  margin: 1rem;
}
.quick-link-card p {
  font-size: 12px;
  margin-top: 1.2rem;
  color: #758BFD;
}

.row {
  margin: 1rem;
}

.api-section {
  width: 100%;
}

.news-header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 2rem;
  align-items: center;
}
.news-header p {
  font-size: 1.5rem;
  color: black;
}
.news-header a {
  font-size: 0.8rem;
}

.api {
  width: 90%;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
}

.api-card {
  width: 260px;
  height: 368px;
  background-color: white;
  margin-top: 1rem;
  padding-top: 1rem;
  text-align: center;
  position: relative;
}
.api-card img {
  width: 224px;
  height: 125px;
  border-radius: 8px;
}
.api-card p {
  font-size: 1rem;
  width: 80%;
  margin: 1rem auto;
}
.api-card .green-txt {
  font-size: 0.5rem;
  color: #69A3A2;
  position: absolute;
  bottom: 0.7rem;
}

.how-do-it {
  width: 100%;
}

.main {
  width: 93%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

p {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  padding: 0;
  color: #8172D5;
}

.togl-card {
  width: 48%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 5px;
}

.dropdown-toggle {
  white-space: normal;
  padding-left: 0.5rem;
}

.togl-card1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  width: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}

#txtblia {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.register-cont {
  padding: 0;
  height: 361px;
}

.visa {
  width: 50%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  background-image: url("../images/visa.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#register-card {
  width: 50%;
  height: 100%;
  text-align: left;
  background-color: white;
  position: relative;
  font-weight: bold;
}
#register-card a {
  position: absolute;
  right: 4rem;
  top: 2rem;
  font-size: 6px;
}
#register-card #orange {
  position: absolute;
  color: #FFB140;
  font-size: 12px;
  left: 6rem;
  top: 5rem;
}
#register-card .reg-text-cont {
  position: absolute;
  left: 4rem;
  top: 8rem;
  width: 372px;
}
#register-card #greenish {
  color: #69A3A2;
  font-size: 14px;
}
#register-card #reg-text {
  font-size: 24px;
  font-weight: bold;
  color: black;
}
#register-card .register-btn {
  position: absolute;
  left: 6rem;
  top: 17rem;
  background-color: #758BFD;
}

.register-btn {
  width: 110px;
  height: 35px;
  font-size: 10px;
}

.propose {
  width: 100%;
}
.propose .resize-cont {
  width: 80%;
  margin: 2rem auto;
}
.propose #resize1 {
  width: 45%;
  margin-right: 2rem;
}
.propose #resize1 .image1 {
  height: 160px;
  background-image: url("../images/resize1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.propose #resize1:hover {
  width: 60%;
}
.propose .image {
  width: 100%;
}
.propose #resize2 {
  width: 45%;
}
.propose #resize2 .image2 {
  height: 160px;
  background-image: url("../images/resize2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.propose #resize2:hover {
  width: 60%;
}
.propose #resize2 p {
  color: black;
  font-size: 14px;
}
.propose #propose-text {
  width: 50%;
  height: 38px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.propose #propose-text p {
  color: black;
  font-size: 14px;
}
.propose .propose-btn {
  background-color: #758BFD;
  color: white;
  width: 120px;
  height: 35px;
  font-size: 10px;
  margin-right: 2rem;
}

.profile-cont {
  width: 80%;
  margin: 2rem auto;
}

#profile-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.profile-card {
  padding-top: 3rem;
  width: 352px;
  height: 409px;
  background-color: white;
  text-align: center;
}
.profile-card p {
  color: black;
  font-size: 20px;
  font-weight: 600;
  width: 292px;
  text-align: left;
  margin-left: 2rem;
  margin-top: 2rem;
}
.profile-card .greenish {
  color: #69A3A2;
  font-weight: 500;
  font-size: 12px;
  text-align: left;
  margin-top: 1.5rem;
  margin-left: 2rem;
}

.foot-top {
  width: 100%;
  background-color: #F7FDFD;
  height: 93px;
}
.foot-top p {
  color: #27187F;
  font-size: 24px;
}
.foot-top span {
  color: #758BFD;
}

.foot-bot {
  width: 100%;
  height: 93px;
  background-color: #758BFD;
}
.foot-bot p {
  color: white;
}
.foot-bot ul {
  list-style-type: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
}
.foot-bot li {
  margin-right: 3rem;
  color: white;
  font-size: 14px;
  text-decoration: none;
}

#feedback-btn {
  background-color: #758BFD;
  color: white;
  width: 120px;
  height: 35px;
  font-size: 10px;
  margin-left: 2rem;
  border-radius: 10px;
  border: none;
}

.modal-btn {
  background-color: #758BFD;
  color: white;
  width: 120px;
  height: 35px;
  font-size: 10px;
  margin-left: 2rem;
  border-radius: 10px;
  border: none;
}/*# sourceMappingURL=styles.css.map */