$colorBG: #F2F5F8;
$colorNavPurple: #8172D5;
$colorSearch: #69A3A2;
$colorYellow: #FFB140;
$colorFill: #758BFD;

body{
    background-color: $colorBG;
}
.flag{
    width: 15px;
}

.dropdown-menu{
    min-width: 8rem;
}

#account{
    font-size: 12px;
    color: $colorFill;
    margin:0;
    margin-left: 1rem;
}

.nav-link{
    margin-right: 3rem;
    color: $colorFill;
}

.btn-primary{
    width: 2rem;
    height: fit-content;
}
.navbar{
    img{margin-right: 10rem;}
}

#usa-btn{
    background-color: $colorFill;
}

//////////////////////////////////
///slider
#first-section{
    width: 90%;
    margin: 0 auto;
}

#carouselExampleIndicators{
    height: 472px;
}

.carousel{
    width: 100%;
    background-color: white;
    padding: 1rem;
}

.carousel-control-next{
    position: static;
}

.carousel-control-prev{
    position: static;
}

.arrows{
    width: 20px;
    display: flex;
    justify-content: space-between;
}

.carousel-indicators{
    position: static;
    margin: 0;
}

.carousel-indicators [data-bs-target]{
    width: 15px;
    height:15px;
    background-color: $colorFill;
}

.carousel-text{
    margin-left: 4rem;
    margin-top: 3rem;
    font-size: 24px;
    width: 80%;
}

.green-small{
    font-size: 0.7rem;
    margin-left: 4rem;
    color: $colorSearch;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

h2{
    margin-top: 3rem;
    font-size: 1rem;
}

button {
    border-radius: 50%;
    }

#first-section{
    display: flex;
}

.quick-link-box{
    width:35%;
    margin: 0 auto;
}

.slider-cont{
    width: 60%;
    margin: 0 auto;
    height: fit-content;
}
.quick-link{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 3.1rem;
}

.quick-link-card{
    margin:1rem;
    p{
        font-size: 12px;
        margin-top: 1.2rem;
        color: $colorFill;
    }
}

.row{
    margin: 1rem;
}

///////////////////////////////
/// api
.api-section{
    width: 100%;
}

.news-header{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 2rem;
    align-items: center;
    p{
        font-size: 1.5rem;
        color: black;
    }
    a{
        font-size: 0.8rem;
    }
}

.api{
    width: 90%;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
}
.api-card{
    width: 260px;
    height: 368px;
    background-color: white;
    margin-top: 1rem;
    padding-top: 1rem;
    text-align: center;
    position: relative;
    img{
        width: 224px;
        height: 125px;
        border-radius: 8px;
    }
    p{
        font-size: 1rem;
        width: 80%;
        margin: 1rem auto;
    }
    .green-txt{
        font-size: 0.5rem;
        color: $colorSearch;
        position: absolute;
        bottom: 0.7rem;
    }
}

///////////////////////////////
/// togle
.how-do-it{
    width: 100%;
}

.main{
    width: 93%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:2rem auto;
}

p{
    height: fit-content;
    margin: 0;
    padding: 0;
    color: #8172D5;
}

.togl-card{
    width: 48%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 5px;
}

.dropdown-toggle {
    white-space: normal;
    padding-left: 0.5rem;
    }

.togl-card1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropdown-toggle::after{
    display: none;
}

.dropdown-menu{
    width: 70%;
    object-fit: contain;
}

#txtblia{
    width: fit-content;
}

/////////////////////////////
/// register

.register-cont{
    padding: 0;
    height: 361px;
}
.visa{
    width: 50%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    background-image: url('../images/visa.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#register-card{
    width: 50%;
    height: 100%;
    text-align: left;
    background-color: white;
    position: relative;
    font-weight: bold;

    a{
        position: absolute;
        right: 4rem;
        top: 2rem;
        font-size: 6px;
    }
    #orange{
        position: absolute;
        color: #FFB140;
        font-size: 12px;
        left: 6rem;
        top: 5rem;
    }
    .reg-text-cont{
        position: absolute;
        left: 4rem;
        top: 8rem;
        width: 372px;
    }

    #greenish{
        color: #69A3A2;
        font-size: 14px;
    }

    #reg-text{
        font-size: 24px;
        font-weight: bold;
        color: black;
    }

    .register-btn{
        position: absolute;
        left: 6rem;
        top: 17rem;
        background-color: #758BFD;
    }
}

.register-btn{
    width: 110px;
    height: 35px;
    font-size: 10px;
}